<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="static/images/tornado.png" height="30px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto" style="font-size:18px;">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about_us">About Us</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
  <div class="container-fluid">
    <h1>About Us</h1>

    <div class="row">
      <div class="col-md-6" style="font-size:18px;">
        <h2>Ivette Reese</h2>
        <img src="static/images/team_member1.jpg" alt="Ivette Reese" class="img-fluid" width="200">
        <p>Ivette is an Operations Research Systems Analyst under the Army Operational Test Command at Fort Cavazos in TX. She loves her pet, a boxer dog, and she misses him so much when she is on TDY.<br>
          <br>
          <a href="https://github.com/Ivette12345">Ivette's GitHub</a>
        </p>
      </div>
      <div class="col-md-6" style="font-size:18px;">
        <h2>Uzor Francis</h2>
        <img src="static/images/team_member2.jpg" alt="Uzor Francis" class="img-fluid" width="200">
        <p>Uzor is a forex day trader with lots of interest in the data world. He has a toy poodle!<br>
          <br>
          <a href="https://github.com/uzorfrancis">Uzor's GitHub</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="font-size:18px;">
        <h2>Fabi Estrada</h2>
        <img src="static/images/team_member3.jpg" alt="Fabi Estrada" class="img-fluid" width="200">
        <p>Fabi has 1 dog and 2 cats and is a dog groomer. She will be applying to be a Data Scientist or work her way up to it. She is a drummer in a local band for fun!<br>
          <br>
          <a href="https://github.com/fabizle">Fabi's GitHub</a>
        </p>
      </div>
      <div class="col-md-6" style="font-size:18px;">
        <h2>Ally Blitch</h2>
        <img src="static/images/team_member4.jpg" alt="Ally Blitch" class="img-fluid" width="200" >
        <p>Ally lives in Dallas, TX with her dogs, Tito and Beau, and her cat, Jules. She wants to be a Data Scientist because she loves finding patterns in information. In her free time she loves to read and crochet.<br>
          <br>
          <a href="https://github.com/allyb3">Ally's GitHub</a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>

