<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Credit Cards</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="static/images/credit-card.png" height="60px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/tableau">Tableau Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ml_live_form">Machine Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/report">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/works_cited">Works Cited</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <h1>Credit Card Classification</h1>
              </div>
              <hr>
              <div class="col-md-12 text-center">
                <img src="static/images/four-ccs.png" alt="Four Major Credit Cards" width = "700px">
              </div>
                <br>
                <hr>
                <body>
                  <h3 class="col-md-12 text-center">The History of Credit Cards</h3>
                  <p class="col-md-12 text-center">According to Time.com, over 175 million Americans have at least one credit card in their name, That's a little over 52% of adults in the U.S!</p>
                    <br>
                  <p class = "col-md-6"> Reportedly, some of the first "credit cards" ever recorded in history were found in ancient Mesopotamia, the first recorded civilization. The "credit cards" were actually clay tablets that were considered lines of credit and were often traded with nearby civilizations.</p>
                  <img src="static/images/mesopotamia.jpg" alt="Mesopotamian Clay Tablet" class = "col-md-3">
                    <br>
                    <p class="col-md-12 text-center">
                    <br>
                    Credit cards came to the US in the late 1800s as "loyalty cards" that stores would issue as a line of credit. 1914 was the year that Western Union introduced "Metal Money," which were metal plates that allowed customers to pay back the bank at a later time, very similar to how credit cards are used today. In the 1920s, other businesses adopted this model and began issuing their own credit lines in various forms.
                    In the 1930s, "Charga-Plate" was developed and used until the 1950s. They were rectangular sheets of metal that had their name and address listed.
                    </p>
                    <br>
                    <img src="static/images/dinerclub.png" alt="Diner's Club Card" class = "col-md-3">
                    <p class = "col-md-6">
                    Modern credit cards were born in the 1950s with the arrival of "The Diner's Club Card" after a man forgot his wallet at home during a dinner in NYC. Frank McNamara and a partner worked together to create a solution for other Americans to avoid the same fate.
                    <br>
                    American Express issued its own credit cards in 1958. Bank of America was reportedly the next big player in the credit card game, only as a product for the state of California, though it was licensed to be used in other states in 1966.
                    <br>
                    Credit scores were invented in 1989 to measure a borrower's creditworthiness. FICO scores quickly became the standard in determining creditworthiness.
                  </p>
                </body>
               </div>
               <div class="col-md-6">
                <!-- <a><img src="static/images/tornado_town.png"></a> -->
              </div>
              <hr>
                <div class="col-md-6">
                  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/-s3UwOq1P1E?si=EZ4DkPTpKMuMaSui" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                </div>  
              <div class="col-md-6 text-center">
                  <!-- <h2>The Science of Tornados</h2> -->
                  <!-- <h3>How Tornados are Formed</h3>
                    <body>
                      Thunderstorms develop when cold and dry air is pushed over warm and humid air. Since warm air rises and goes through the cold air, that causes a change in wind direction, otherwise known as an updraft. Greatly varying winds from the thunderstorm then cause the updraft to rotate and continuously draw in more warm air from the already-formed thunderstorm. The rotation speed increases and a funnel cloud forms to become a twister. As it gains strength, the funnel becomes longer and becomes the most dangerous when it touches the ground, topping 250 mph.                    
                      Though tornados usually last between 10 minutes and an hour, the longest recorded tornado lasted 3 1/2 hours and traveled 219 miles through Missouri, Illinois, and Indiana.
                    </body>
                    </div> -->



                
            </div>
        </div>
        
    </div>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/app.js"></script>

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

  </body>
</html>

