<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Works Cited</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="static/images/credit-card.png" height="60px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tableau">Tableau Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ml_live_form">Machine Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>              
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
            </div>
        </div>
        </nav> 
  </body>
<div class="col-md-12 text-center">
    <br>
    <h1>Sources:</h1>
    <hr>
    <body>
    
      <a href="https://www.kaggle.com/datasets/samuelcortinhas/credit-card-classification-clean-data/data">Kaggle Dataset 1</a>
      <br>
      <br>
      <a href="https://www.kaggle.com/datasets/itssuru/loan-data">Kaggle Dataset 2</a>
      <br>
      <br>
      <a href="https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html">Scikit-Learn Documentation</a>
      <br>
      <br>
      <a href="https://datascience.stackexchange.com/questions/47852/visualizing-decision-tree-with-feature-names">Stack Exchange on Decision Trees</a>
      <br>
      <br>
      <a href="https://www.askpython.com/python/examples/k-fold-cross-validation">Ask Python K-Fold Cross-Validation</a>
      <br>
      <br>
      <a href="https://www.turintech.ai/what-is-imbalanced-data-and-how-to-handle-it/">Imbalanced Data</a>
      <br>
      <br>
      <a href="https://www.flaticon.com/free-icons/credit-card">Credit Card Icon by SmashingStocks</a>
      <br>
      <br>
      <a href="https://simpleicon.com/wp-content/uploads/credit-card-check.png">Credit Card Picture</a>
      <br>
      <br>
      <a href="https://time.com/personal-finance/article/history-of-credit-cards/">History of Credit Cards from Time Magazine</a>
      <br>
      <br>
      <a href="https://ramir191.wordpress.com/2014/04/23/the-1950s-diner-club-card-credit-card/">Diner's Club Cards</a>
      <br>
      <br>
      <a href="https://www.cardrates.com/advice/the-history-of-credit-cards/">Mesopotamian Clay Tablet</a>
    </body>
  </div>
